@{
    ViewBag.Title = "Sala A61";
    Scripts.Render("~/bundles/bootstrap");
}
<h2>@ViewBag.Title.</h2>
<link href='~/Content/fullcalendar.min.css' rel='stylesheet' />
<link href='~/Content/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='~/Scripts/jquery-3.1.1.min.js'></script>
<script src='~/Scripts/moment.js'></script>
<script src='~/Scripts/fullcalendar.min.js'></script>
<script src="~/Scripts/calendar.js"></script>
<script src="~/Scripts/locale-all.js"></script>
<div id='calendar'></div>

