@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Politechnika Rzeszowska im. I. Łukasiewicza<br />
    al. Powstańców Warszawy 12<br />
    35-959 Rzeszów<br />
    tel.: +48 17 111 22 33<br />
    fax.: +48 17 222 33 44<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>