@{
    Layout = "~/Views/Shared/_Layout_blank.cshtml";
}
@section NavBar {
    <li>@Html.ActionLink("Home", "Index", "Home", null, new { style = "color: white" })</li>
}
<style>
    #SignUpStyle {
        margin: 100px;
        padding-top: 25px;
        padding-left: 40px;
        font-size: 18px;
        color: black;
    }
</style>

<div id="SignUpStyle">
    Wypełnij formularz:
</div>
