@{
    Layout = "~/Views/Shared/_Layout_blank.cshtml";
}

|@section NavBar {
    <li>@Html.ActionLink("Home", "Index", "Home", null, new { style = "color: white" })</li>
    }
<style>
    #LogInStyle {
        margin: 100px;
        padding-top: 25px;
        padding-left: 40px;
        font-size: 18px;
    }
    a {
        color: grey;
    }
    #SignUpStyle {
        padding-top: 25px;
        color: black;
    }
</style>
<div id="LogInStyle">
    @Html.ActionLink("Zaloguj się", "Calendar", "Home")
    <div id="SignUpStyle">
        Nie masz konta?
        @Html.ActionLink("Zarejestruj się", "Index", "SignUp")
    </div>
</div>

